
/* COLORS */
$clr-100: rgb(255, 255, 255);
$clr-200: rgb(236, 242, 248);
$clr-300: rgb(157, 174, 194);
$clr-400: rgb(110, 128, 152);
$clr-500: rgb(72, 85, 106);

/* TYPE */
$ff-regular: 'Manrope', sans-serif;;

$fw-regular: 500;
$fw-bold: 700;

$fs-regular: 0.813rem;
$fs-header-small: 1rem;
$fs-header-big: 1.25rem;

